.main {
  text-align: center;
}

.bg_image {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  opacity: 70%;
}

.textbox_blur {
  margin: 50px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.15rem 1rem;
  max-width: 300px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
  backdrop-filter: saturate(120%) blur(5px);
  -webkit-backdrop-filter: saturate(120%) blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.bg_title {
  display: flex;
  position: relative;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  align-items: center;
  text-shadow: 1px 1px 1px #3c5c5e;
  color: white;
  width: 100%;
  white-space: pre;
  overflow: hidden;
  animation: typing 2s steps(18), cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
